<header>
  <% logo = image_tag("logo.png", :alt=>"Sample App", :class=>"round") %>
  <%= link_to logo, root_path %> 
  <nav class="round">
  <ul>
      <! about_path created when you do match '/about' in the routes.rb file> 
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
